.popup {
    display: none;
    position: fixed;
  
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup.visible {
    display: flex;
    width:100%;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    max-width: 80%; /* Adjust the width based on your design */
    text-align: center;
    position: relative;
  }
  
  .close {
    color: #aaa;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }